/* /Components/Board.razor.rz.scp.css */
.game-board[b-92ln5d57b3] {
    border: 1px solid darkblue;
    background-color: blue;
    padding: 5px;
}

.board-row[b-92ln5d57b3]:after {
    clear: both;
    content: "";
    display: table;
}
/* /Components/History.razor.rz.scp.css */
.game-info[b-1n793ko9v7] {
    margin-left: 20px;
}

li > button[b-1n793ko9v7] {
    font-family: "Verdana" sans-serif;
    font-size: 1em;
    text-align: left;
    color: blue;
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

    li > button:focus[b-1n793ko9v7] {
        outline: none;
        box-shadow: none;
    }

ol[b-1n793ko9v7], ul[b-1n793ko9v7] {
    padding-left: 30px;
}
/* /Components/Square.razor.rz.scp.css */
.square[b-2q2eqdqrmn] {
  border-radius: 50%;
  border: 1px solid darkblue;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  margin: 8px;
  text-align: center;
  width: 64px;
}

.square.white[b-2q2eqdqrmn] {
  background-color: white;
}

.square.red[b-2q2eqdqrmn] {
  background-color: red;
}

.square.yellow[b-2q2eqdqrmn] {
  background-color: yellow;
}

.square:focus[b-2q2eqdqrmn] {
  outline: none;
}
/* /Pages/Index.razor.rz.scp.css */
.game[b-86gqaqz2ad] {
    display: flex;
    flex-direction: row;
}
