@page "/"

<h1>Connect 4</h1>
<h3>@Status</h3>

<div class="game">
    <div>
        <Board Squares="Squares"
               Winners="Winners"
               OnMove="(i) => MoveHandler(i)" />
        <Timer Started="Started" />
    </div>
    <History List="History" 
             OnJump="(move) => JumpHandler(move)" />
</div>