.square {
  border-radius: 50%;
  border: 1px solid darkblue;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  margin: 8px;
  text-align: center;
  width: 64px;
}

.square.white {
  background-color: white;
}

.square.red {
  background-color: red;
}

.square.yellow {
  background-color: yellow;
}

.square:focus {
  outline: none;
}
